html {
    width: 450px;
}
html, body {
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    padding: 0 5px;
}

.formContainer {
    text-align: center;
}

.hidden {
    display: none;
}

.pointerCursor {
    cursor: pointer;
}

#url {
    font-size: 15px;
}

#error {
    color: red;
}

#inputTime {
    width: 50px;
}

#table {
    text-align: center;
}